@{
    ViewBag.Title = "Главная страница";
}

<div class="row">
    <div class="col-md-4 item">
        <a href="#">
            <img src="~/img/item1.jpg" alt="Свиной язык под картофельной шубой" />
            <p class="time"><i class="fa fa-clock-o" aria-hidden="true"></i><span>Приготовление:</span> 2 часа и 30 минут</p>
            <h2>Свиной язык под картофельной шубой</h2>
            <p>Этот рецепт от моего мужа. Было очень вкусно.</p>
        </a>
    </div>
    <div class="col-md-4 item">
        <a href="#">
            <img src="~/img/item2.jpg" alt="Запеченная грудка с нутом" />
            <p class="time"><i class="fa fa-clock-o" aria-hidden="true"></i><span>Приготовление:</span> 1 час и 40 минут</p>
            <h2>Запеченная грудка с нутом</h2>
            <p>Сытное и нарядное блюдо сможет накормить небольшую компанию.</p>
        </a>
    </div>
    <div class="col-md-4 item">
        <a href="#">
            <img src="~/img/item3.jpg" alt="Суп-пюре с чечевицей и нутом" />
            <p class="time"><i class="fa fa-clock-o" aria-hidden="true"></i><span>Приготовление:</span> 30 минут</p>
            <h2>Суп-пюре с чечевицей и нутом</h2>
            <p>Если у вас заранее отварен нут, то приготовить суп очень просто и легко.</p>
        </a>
    </div>
    <div class="col-md-4 item">
        <a href="#">
            <img src="~/img/item4.jpg" alt="Тыквенные булочки для бургеров" />
            <p class="time"><i class="fa fa-clock-o" aria-hidden="true"></i><span>Приготовление:</span> 40 минут</p>
            <h2>Тыквенные булочки для бургеров</h2>
            <p>Королева тыква! Как же я люблю выпечку с ней!</p>
        </a>
    </div>
    <div class="col-md-4 item">
        <a href="#">
            <img src="~/img/item5.jpg" alt="Салат из помидоров с сыром фета" />
            <p class="time"><i class="fa fa-clock-o" aria-hidden="true"></i><span>Приготовление:</span> 25 минут</p>
            <h2>Салат из помидоров с сыром фета</h2>
            <p>Очень интересный салатик, действительно доставляет новые вкусовые ощущения. </p>
        </a>
    </div>
    <div class="col-md-4 item">
        <a href="#">
            <img src="~/img/item6.jpg" alt="Маффины с яблоком из цельнозерновой муки" />
            <p class="time"><i class="fa fa-clock-o" aria-hidden="true"></i><span>Приготовление:</span> 40 минут</p>
            <h2>Маффины с яблоком из цельнозерновой муки</h2>
            <p>В этом рецепте мы совместим полезное со вкусным на 100%.</p>
        </a>
    </div>
</div>